@tailwind base;
@tailwind components;
@tailwind utilities;

  :root {
    
    --max-width: 1100px;
    --border-radius: 12px;
    --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
      'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
      'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  
    
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 70, 70, 70;
    --background-end-rgb: 40, 40, 40;

    --card-font-rgb: 255, 255, 255;

    
  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #A63C9F 0deg,
    #850FA6 55deg,
    #58088C 120deg,
    #3E0973 160deg,
    transparent 360deg
  );

  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0)
  );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 60, 60, 60;
    --card-border-rgb: 255, 255, 255;
  }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

body::before,
body::after {
  content: '';
  position:absolute;
  z-index: -1;
  opacity: 0.3;
}

body::before {
  background: var(--primary-glow);
  border-radius: 50%;
  width: 50vw;
  height: 50vw;
  filter:blur(90px);  
  justify-self: center;
  top: calc(50vh - 50vw/2);
  left: calc(50vw - 50vw/2);
}

body::after {
  background: var(--secondary-glow);
  border-radius: 50%;
  filter:blur(90px);
  top: calc(50vh - 50vw/2);
  left: calc(50vw - 50vw/2);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* @media (max-width: 880px) {
  iframe {
    width: 100%;
    padding: 2rem;
    aspect-ratio: 4/3;
  }
}

@media (min-width: 880px) {
  iframe {
    width: 900px;
    margin: 0 auto;
    padding: 2rem;
    aspect-ratio: 4/3;
  }
} */