.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.homepageOverlayProjects {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


.linkContainerVideos {
  position:relative;
    display: flex;
    /* <div className="p-3 container mx-auto"> */
    width:100vw;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 24px;      
    background-color: rgba(var(--background-end-rgb), 0.5);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);  
}

.linkContainerAnimations{
  position:relative;
    display: flex;

    width: var(--max-width);
  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 24px;      
    background-color: rgba(var(--background-end-rgb), 0.5);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 
}


.linkContainer {
  position:relative;
  display: flex;
  z-index: 52;
    /* max-width: 100%; */
    width:80vw;
    /* width:var(--max-width); */
  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 24px;      
    background-color: rgba(var(--background-end-rgb), 0.5);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 
}

.linkContainerLinks {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.linkContainerImage {
  width: 50vw;
  transition: background-image 200ms;
  opacity:0.5;
  height: 50vh;
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 1rem;
  justify-self: center;
  margin-bottom: 2rem;
}

.backgroundCard {
  position: absolute;
  height: auto;
  border-radius: 1rem;
}

.cardHomepage {
opacity:0.1;
transition: all 0.5s ease-in-out;
}

@keyframes grow-in-and-out {
  from {
    opacity: 0.1;
    transform: scale(1);
    filter: blur(5px);
  }

  50% {
    opacity: 0.8;
    transform: scale(1.07);
    filter: blur(0px);
  }

  to {
    opacity: 0.1;
    transform: scale(1);
    filter: blur(5px);
  }
}

.homepageSlices {
  margin-left:1rem;
  margin-right:1rem;
  margin-top:1.5rem;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  /* z-index: -9999; */
}

.homepagePortfolio {
  position:absolute;
  margin-left:1rem;
  margin-right:1rem;
  margin-top:1.5rem;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  /* z-index: -9999; */
}
.cardHomepagePortfolio {

  opacity: 0;

  filter: blur(5px);
  }

.cardHomepageTest {
  position:absolute;
  opacity:0.1;
  /* margin-top:25rem; */
  margin-top:10rem;
  filter: blur(5px);
  }

.cardHomepageTestAnimation1 {
    animation: grow-in-and-out 1.5s ease-in-out;
  }
.cardHomepageTestAnimation2 {
  animation: grow-in-and-out 1.5s ease-in-out ;
    animation-delay:0.1s;
  }
.cardHomepageTestAnimation3 {
  animation: grow-in-and-out 1.5s ease-in-out ;
    animation-delay:0.2s;
  }
.cardHomepageTestAnimation4 {
  animation: grow-in-and-out 1.5s ease-in-out;
    animation-delay:0.3s;
  }
.cardHomepageTestAnimation5 {
  animation: grow-in-and-out 1.5s ease-in-out ;
    animation-delay:0.4s;
  }
.cardHomepageTestAnimation6 {
  animation: grow-in-and-out 1.5s ease-in-out ;
    animation-delay:0.5s;
  }
  
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  align-items: center;
  justify-items: center;
}

.buttonLinksPage {
  font-size:1.5rem;
  transition: transform 200ms, border 200ms;
  font-weight: normal;
  display:flex;
  align-items: center;
  cursor:pointer;
  padding-bottom: -1rem;
  border-radius: 12px;      
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  background-color: rgba(var(--background-end-rgb), 0.5);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);  
}

.buttonGeneral {
  /* border: 1px solid rgba(var(--card-border-rgb), 0.15); 
  border-radius: var(--border-radius); */
  transition: transform 200ms, border 200ms;
  font-size: 1.5rem;
  font-weight: normal;
  display:flex;
  align-items: center;
  cursor:pointer;
}

.buttonGeneralHomepage {
  transition: transform 200ms, border 200ms;
  font-size: 3.5rem;
  font-weight: normal;
  display:flex;
  align-items: center;
  cursor:pointer;
  color: white;
}

.buttonGeneralHomepageProjects {
  transition: transform 200ms, border 200ms;
  font-size: 3.5rem;
  font-weight: normal;
  display:flex;
  align-items: center;
  cursor:pointer;
  color: white;
}

.buttonNew {
  transition: transform 200ms, border 200ms;
  border: 1px solid rgba(var(--card-border-rgb), 0.15); 
  background-color:#ffffff70;
  border-radius: 6px; 
  transition: transform 200ms, border 200ms;
  font-size: 1.5rem;
  color: rgb(var(--background-end-rgb));
  font-weight: normal;
  align-items:center;
  position:relative;
  padding-left: 5px;
  padding-right: 5px;
  margin-left:5px;
}

.image-container {
 display:flex;
 flex-wrap:wrap;
}
.image-container img {
  flex-basis: 50%;
  margin: 2rem;
}

.backbutton-hidden {
  opacity: 0;
  pointer-events: none;
}

.backbutton {
  position:absolute;
  right: 1.25rem; 
  top: 0.35rem; 
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; 
  padding-left: 0.5rem;
  padding-right: 0.5rem; 
  /* color: #000000;  */
  color: rgb(244 244 245);
  background-color: rgb(120 113 108 / 0.5);
  border-radius: 0.25rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 
  transition: transform 200ms, border 200ms;
  cursor: pointer;
}

.backbuttonHomepage {
  position:absolute;
  opacity:0;
  right: 1.25rem; 
  top: 0.35rem; 
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; 
  padding-left: 0.5rem;
  padding-right: 0.5rem; 
  color: rgb(244 244 245);
  background-color: rgb(120 113 108 / 0.5);
  border-radius: 0.25rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 
  transition: transform 200ms, border 200ms, opacity 500ms;
  cursor: pointer;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 1rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
}

/* HOMEPAGE */
.titleHomepage {
  /* position:absolute; */
  font-size: 6.5rem;
  font-weight: normal;
  text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.9);
  padding-top:7rem;
  /* top:7rem; */
}


.subtitleHomepage {
  font-size: 3.5rem;
  font-weight: normal;
  display:flex;
  align-items: center;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
}
.subtitleHomepage a {
  align-items: center;
  display: flex;
  justify-content: left;
  gap: 0.5rem; 
  /* text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.9); */
}

/* TITLES */
.title {
  font-size: 4.5rem;
  text-decoration: underline 5px rgba(var(--foreground-rgb), 0.5); 
  font-weight: normal;
  padding-bottom: 2rem;
  padding-top: 0rem;
  text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.4);
}
.subtitle {
  font-size: 3rem;
  /* display:flex; */
  align-items:center;
}
.subtitle a {
  align-items: center;
  display: flex;
  justify-content: left;
  gap: 0.5rem; 
}
.subtitle p {
  padding-bottom: 2rem;
}
.subtitle h1 {
  text-decoration: underline 4px rgba(var(--foreground-rgb), 0.5);
  padding-bottom: 2rem;
  padding-top: 1rem;
  align-items: center;
  font-weight: normal;
}
.subtitle h1 svg {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.subtitle span {
  display: flex;
}

/* SUBTITLE DESCRIPTION */
.subtitledescription {
  font-size: 1.5rem;
  font-weight: normal;
  max-width:70ch;
  text-align:center;
}
.subtitledescription a {
  align-items: center;
  display: flex;
  justify-content: left;
  gap: 0.5rem; 
  /* padding-bottom: 1.5rem; */
  padding: 1.5rem;

  text-decoration: underline 2px rgba(var(--foreground-rgb), 0.5);
}
.subtitledescription p {
  align-items: center;
  display: flex;
  justify-content: left;
  gap: 0.5rem; 
  /* padding-bottom: 1.5rem; */
}
.subtitledescription h1 {
  text-decoration: underline 2px rgba(var(--foreground-rgb), 0.5);
 
  /* maybe this */ 
  
  /* display:flex;
  align-items: center; */
  
  padding-bottom:1rem;
  /* padding-top: 1rem;  */
  /* padding-bottom: 2rem; */
}

.text-container {
  width: 66.66%;
  flex-grow: 1;
  margin: 5rem;
}
.text-container p {
  font-size: 1.5rem;
  font-weight: normal;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 0.5rem; 
  padding-bottom: 0.5rem; 
}

.spacing {
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.spacing2 {
    padding-bottom: 10vh;
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.gridanimation {
  display: grid;
  justify-self: center;
  grid-template-columns: repeat(3, minmax(25%, auto));
  /* grid-template-columns: 33% 33% 33%; */
 
  max-width: 100%;
  width: var(--max-width);
  justify-content: center;

}


/* CARD ANIMATION CSS */


.cardanimation {
  width: 350px;
  height: 167px;
  padding: 3rem 2.2rem;
  border-radius: var(--border-radius);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: transform 250ms, border 250ms;
  background-position: right;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  overflow: hidden;
  justify-self: center;
}

.cardanimation span {
  display: flex;
  transition: transform 200ms;
}
.cardanimation h2 {
  font-size: 1.5rem;
  /* color:black; */
  font-weight: normal;
  margin-bottom: 0.7rem;
}
.cardanimation p {
  margin: 0;
  /* color: black;  */
  opacity:0.8;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

/* Card Animation (Plasticine */
.cardanimationplasticine {
  width: 350px;
  height: 167px;
  padding: 3rem 2.2rem;
  border-radius: var(--border-radius);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: transform 250ms, border 250ms, background-image 60ms, opacity 0.6s ease-in-out;
  background-position: right;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  overflow: hidden;
  justify-self: center;
  background-image: url("/images/animations/cards/plasticine card4.png");
}
.cardanimationplasticine span {
  display: flex;
  transition: transform 200ms;
}
.cardanimationplasticine h2 {
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 0.7rem;
}
.cardanimationplasticine p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

/* Card Skate */
.cardanimationSkate {
  width: 350px;
  height: 167px;
  padding: 3rem 2.2rem;
  border-radius: var(--border-radius);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: transform 250ms, border 250ms, background-image 60ms, opacity 0.6s ease-in-out;
  
  background-position: right;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  overflow: hidden;
  justify-self: center;
  background-image: url("/images/animations/cards/skate transparent2.png");
}
.cardanimationSkate span {
  display: flex;
  transition: transform 200ms;
}
.cardanimationSkate h2 {
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 0.7rem;
}
.cardanimationSkate p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

/* Card Escape */
.cardanimationEscape{
  width: 350px;
  height: 167px;
  padding: 3rem 2.2rem;
  border-radius: var(--border-radius);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: transform 250ms, border 250ms, background-image 60ms, opacity 0.6s ease-in-out;
  background-position: right;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  overflow: hidden;
  justify-self: center;
  background-image: url("/images/animations/cards/escape transparent3.png");
}
.cardanimationEscape span {
  display: flex;
  transition: transform 200ms;
}
.cardanimationEscape h2 {
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 0.7rem;
}
.cardanimationEscape p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

/* Card Kontakt */
.cardanimationKontakt{
  width: 350px;
  height: 167px;
  padding: 3rem 2.2rem;
  border-radius: var(--border-radius);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: transform 250ms, border 250ms, background-image 60ms, opacity 0.6s ease-in-out;
  background-position: right;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  overflow: hidden;
  justify-self: center;
  background-image: url("/images/animations/cards/kontakt transparent.png");
}
.cardanimationKontakt span {
  display: flex;
  transition: transform 200ms;
}
.cardanimationKontakt h2 {
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 0.7rem;
}
.cardanimationKontakt p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

/* Card Logo */
.cardanimationLogo{
  width: 350px;
  height: 167px;
  padding: 3rem 2.2rem;
  border-radius: var(--border-radius);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: transform 250ms, border 250ms, background-image 60ms, opacity 0.6s ease-in-out;
  background-position: right;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  overflow: hidden;
  justify-self: center;
  background-image: url("/images/animations/cards/logo new small4.png");
}
.cardanimationLogo span {
  display: flex;
  transition: transform 200ms;
}
.cardanimationLogo h2 {
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 0.7rem;
}
.cardanimationLogo p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

/* Card Music */
.cardanimationMusic {
  width: 350px;
  height: 167px;
  padding: 3rem 2.2rem;
  border-radius: var(--border-radius);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: transform 250ms, border 250ms, background-image 60ms, opacity 0.6s ease-in-out;
  background-position: right;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  overflow: hidden;
  justify-self: center;
  background-image: url("/images/animations/cards/music transparent3.png");
}
.cardanimationMusic span {
  display: flex;
  transition: transform 200ms;
}
.cardanimationMusic h2 {
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 0.7rem;
}
.cardanimationMusic p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.grid {
  display: grid;
  justify-self: center;
  /* grid-template-columns: repeat(3, minmax(25%, auto)); */
  grid-template-columns: 33% 33% 33%;

  max-width: 100%;
  width: var(--max-width);
  justify-content: center;
  grid-column-gap: 1.5rem;
}



@media (min-width: 1120px) {

    .grid a{
      width:100%;
    }

    .card:nth-child(2) {
      grid-column-start: 2;
      grid-column-end: 4;
    }
    
    .card:nth-child(3) {
      grid-column-start: 1;
      grid-column-end: 3;
    }

    .card:nth-child(6) {
      grid-column-start: 2;
      grid-column-end: 4;
    }

    .card:nth-child(7) {
      grid-column-start: 1;
      grid-column-end: 3;
    }
}

/* Card */
.card {
 
  width: 350px;
  height: 167px;

  padding: 3rem 2.2rem;
  border-radius: var(--border-radius);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  transition: transform 200ms, border 200ms;
  background-position: right;
  margin-bottom: 1.5rem;
  overflow: hidden;

  justify-self:center;
}
.card span {
  display: inline-block;
  transition: transform 200ms;
}
.card h2 {
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 0.7rem;
}
.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

/* Center Stuff*/
.centercard {
  display:flex;
  padding: 3rem 2.2rem;
  background-color: rgba(var(--card-rgb), 0.5);
  border-radius: var(--border-radius); 
  border: 1px solid rgba(var(--card-border-rgb), 0.15);
  background-position: center;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  overflow: hidden;
}

.center {
  display:block;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
  text-align: center;
}

/* CENTER COLORS */
.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}
.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}
.center::before,
.center::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

/* NAVBAR OPACITY ETC */
.navbar-contents {
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}
.navbar-contents.show {
  opacity: 1;
}

.mirrorIcon {
  transform: scaleY(-1);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {      
 
  .card:hover {
    transform: scale(1.07); 
    border: 1px solid rgba(var(--card-border-rgb), 5);    
  }

  .card:hover span {
    transform: translateX(4px);
  }

  .cardanimation:hover {
    transform: scale(1.08); 
    border: 1px solid rgba(var(--card-border-rgb), 15);    
  
    /* background-size:140%;
    background-position: center; */
    
    background-image: url("/images/animations/gifs/plasticine-gif-half.gif"); 
  }

  /* Cardanimation Normal */
  .cardanimationplasticine:hover {
    transform: scale(1.08); 
    border: 1px solid rgba(var(--card-border-rgb), 15);    
  
    /* background-size:140%;
    background-position: center; */
    
    background-image: url("/images/animations/gifs/plasticine-gif-new.gif"); 
  }
  .cardanimation:hover span {
    transform: translateX(4px);
  }

  /* Card Skate */
  .cardanimationSkate:hover {
    transform: scale(1.08); 
    border: 1px solid rgba(var(--card-border-rgb), 15);  
    background-image: url("/images/animations/gifs/skatenew8.gif"); 
  }
  .cardanimationSkate:hover h2,
  .cardanimationSkate:hover p {
   color: black; 
   opacity:0.8;
  }
  .cardanimationSkate:hover span {
    transform: translateX(4px);
  }

  /* Card Escape */
  .cardanimationEscape:hover {
    transform: scale(1.08); 
    border: 1px solid rgba(var(--card-border-rgb), 15);  

    background-image: url("/images/animations/gifs/escape-short4.gif"); 
  }

  .cardanimationEscape:hover h2,
  .cardanimationEscape:hover p {
   color: black; 
  }
  .cardanimationEscape:hover span {
    transform: translateX(4px);
  }
  
  /* Card Kontakt */
  .cardanimationKontakt:hover {
    transform: scale(1.08); 
    border: 1px solid rgba(var(--card-border-rgb), 15);  
    background-image: url("/images/animations/gifs/kontakt-v2.gif");
  }
  .cardanimationKontakt:hover span {
    transform: translateX(4px);
  }

  /* Card Logo */
  .cardanimationLogo:hover {
    transform: scale(1.08); 
    border: 1px solid rgba(var(--card-border-rgb), 15);  
    background-image: url("/images/animations/gifs/logotest3.gif"); 
  }
  .cardanimationLogo:hover span {
    transform: translateX(4px);
  }

  /* Card Music */ 
  .cardanimationMusic:hover {
    transform: scale(1.08); 
    border: 1px solid rgba(var(--card-border-rgb), 15);  
    background-image: url("/images/animations/gifs/public-transport5.gif"); 
  }
  .cardanimationMusic:hover span {
    transform: translateX(4px);
  } 

  .backbutton:hover {
    transform: scale(1.07);
  }

  .backbuttonHomepage:hover {
    transform: scale(1.07);
    opacity:1;
  }

  .buttonNew:hover {
    transform: scale(1.07);
  }

  .buttonLinksPage:hover {
    transform: scale(1.1);
    text-shadow: 0px 0px 35px rgba(0, 0, 0, 0.9);
  }

  .buttonGeneral:hover {
    transform: scale(1.07);
    /* text-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); */
    text-shadow: 0px 0px 35px rgba(0, 0, 0, 0.9);
  } 

  .buttonGeneralHomepage:hover {
    transform: scale(1.2);
    text-decoration: underline 5px rgba(var(--foreground-rgb), 0.5);
  }

  .buttonGeneralHomepageProjects:hover {
    transform: scale(1.2);
    text-decoration: underline 5px rgba(var(--foreground-rgb), 0.5);
  }


  .link-hover:hover {
    transform: scale(1.07);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

.iframevideo {
  /* border: 10px solid rgba(var(black), 0.15); */
  width: 75vw; 
  margin: 0 auto;
  aspect-ratio: 16/9;
}

/* @media (max-width: 1120px) {
  .subNavbar {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: rgb(28 25 23 / 0.8);
  padding: 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  z-index: -11;
}
} */

@media (max-width: 900px) {
  .subNavbar {
    display:none;
  }

  .subNavbarTest {
    display:none;
  } 
}



/* Mobile */
@media (max-width: 700px) {

  .linkContainerAnimations{
    position:relative;
      display: flex;
    
      margin-left:2rem;
      margin-right:2rem;
      width: 350px;
      height:auto;
      padding-left:1rem;
      padding-right:1rem;
      padding-top:1rem;
      padding-bottom:1rem;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 12px;      
      background-color: rgba(var(--background-end-rgb), 0.5);
      box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 
  }

  .linkContainerLinks {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .linkContainerImage {
    width: 70vw;
    transition: background-image 500ms;
    /* height: 50vh; */
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 1rem;
    justify-self: center;
    margin-bottom: 2rem;
  
  }

.cardHomepageTest {
  transform:scale(0.8);
  margin-bottom:4.5rem;
  filter:blur(0px);
}
@keyframes grow-in {
  from {
    opacity: 0.1;
    transform: scale(0.8);
  }

  50% {
    opacity: 0.8;
    transform: scale(1);
  }

  from {
    opacity: 0.1;
    transform: scale(0.8);
  }
}


  .homepageSlicesTest {
    transform: scale(0.7);
    justify-content:center;
    margin-bottom:2rem;
  }

  /* .navbar-contents nav {
   transform: scale(0.75); 
  } */

  /* .backgroundCard {
    transform:scale(0);
  } */

  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: left;
  }


  .gridanimation {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    /* align-items: center; */
    text-align: left;
  }

  .card {
    padding: 3rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .cardanimation {
    padding: 3rem 2.5rem;
  }

  .cardanimation h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 2rem 0 2rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .titleHomepage {
    font-size: 3.5rem;
    padding-bottom: 2rem;            /*probably fix this*/
  }

  .subtitleHomepage {
    font-size: 2.5rem;
  }


  .title {
    font-size: 2.5rem;
    padding-bottom: 2rem;            /*probably fix this*/
    max-width: 20ch;
  }

  .subtitle {
    font-size: 1.5rem;
  }

  .subtitledescription {
    max-width: 30ch;
  }
 
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: block;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }

}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }

  .linkContainerAnimations{
    /* width:50vw; */
    width: 730px;
    height:auto;
    padding-left:2rem;
    padding-right:2rem;
  }
  .gridanimation {
    grid-template-columns: repeat(2, 50%);
    padding-left: 11rem;
    padding-right: 11rem;
  }

  .homepageSlicesTest {
    display:flex;
    transform: scale(1);
    margin-bottom:2rem;
    margin-top:-0.5rem;
    justify-content:center;
  }

}

@media (prefers-color-scheme: dark) {
   
  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}


/* kinda cool looking */
/* background-image: radial-gradient(circle at center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.0)); */


/* Portfolio Homepage Animation */
@keyframes animationHalf1 {
  from {
    opacity: 0;
    filter: blur(5px);
    transform: scale(1);   
  }
  to {
    opacity: 0.8;
    filter: blur(0px);
    transform: scale(1.07);
  }
}

@keyframes animationHalf2 {
  from{
    opacity: 0.8;
    filter: blur(0px);
    transform: scale(1.07);
  }
  to{
    opacity: 0;
    transform: scale(1);   
    filter: blur(5px);
  }
}

.animationClassHalf1 {
  animation: animationHalf1 0.5s forwards;
}

.animationClassHalf2 {
  animation: animationHalf2 0.5s forwards;
}

/* Homepage Cards Animation */
@keyframes animationTestHalf1 {
  0% {
    opacity: 0.1;
    filter: blur(5px);
    transform: scale(1);
  }
   100% {
    opacity: 0.8;
    filter: blur(0px);
    transform: scale(1.07);
  }
}

@keyframes animationTestHalf2 {
  0%{
    opacity: 0.8;
    filter: blur(0px);
    transform: scale(1.07);
  }
  100%{
    opacity: 0.1;
    filter: blur(5px);
    transform: scale(1);
  }
}

.animationTestClassHalf1 {
  animation: animationTestHalf1 0.5s forwards;
}

.animationTestClassHalf2 {
  animation: animationTestHalf2 0.5s backwards;
}


/* Homepage Portfolio Testing Animation */
@keyframes animationHalfTesting1 {
  from {
    opacity: 0.1;
    filter: blur(5px);
    transform: scale(1);
  }
  to {
    opacity: 0.8;
    filter: blur(0px);
    transform:scale(1.07);
  }
}

@keyframes animationHalfTesting2 {
  from{
    opacity: 0.8;
    filter: blur(0px);
    transform:scale(1.07);
  }
  to{
    opacity: 0.1;
    filter: blur(5px); 
    transform: scale(1);
  }
}

.animationClassTesting1 {
  animation: animationHalfTesting1 0.5s forwards;
}

.animationClassTesting2 {
  animation: animationHalfTesting2 0.5s backwards;
}


.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-in.show {
  opacity: 1;
}