.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.imageBehindText {
  position: absolute;
  z-index: -1;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 1rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
}

.titleHomepage {
  font-size: 6.5rem;
  font-weight: normal;
  padding-bottom: 2rem;
  padding-top: 2rem;
}


.subtitleHomepage {
  font-size: 3.5rem;
  font-weight: normal;
}

.title {
  font-size: 4.5rem;
  text-decoration: underline 5px rgba(var(--foreground-rgb), 0.5); 
  font-weight: normal;
  padding-bottom: 2rem;
  padding-top: 0rem;
}


.subtitle {
  padding-top: 2rem;
  font-size: 3rem;
  font-weight: normal;
}

.subtitle a {
  align-items: center;
  display: flex;
  justify-content: left;
  gap: 0.5rem; 
}

.subtitle p {
  padding-bottom: 2rem;
}

.subtitledescription {
  font-size: 1.5rem;
  font-weight: normal;
}

.subtitledescription a {
  align-items: center;
  display: flex;
  justify-content: left;
  gap: 0.5rem; 
  padding-bottom: 0.5rem;
}

.subtitledescription h1 {
  text-decoration: underline 2px rgba(var(--foreground-rgb), 0.5);
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.text-container {
  width: 66.66%;
  flex-grow: 1;
  margin: 5rem;
}
.text-container p {
  font-size: 1.5rem;
  font-weight: normal;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 0.5rem; 
  padding-bottom: 0.5rem; 
}


.spacing {
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.spacing2 {
    padding-bottom: 10vh;
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(25%, auto));
  max-width: 100%;
  width: var(--max-width);
}


.card {
  padding: 3rem 2.2rem;
  border-radius: var(--border-radius);
  border: 1px solid rgba(var(--card-border-rgb), 0.15);
  transition: transform 200ms, border 200ms;
  background-position: right;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  overflow: hidden;
}


.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 0.7rem;
}


.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.centercard {
  display:flex;
  padding: 3rem 2.2rem;
  background-color: rgba(var(--card-rgb), 0.5);
  border-radius: var(--border-radius); 
  border: 1px solid rgba(var(--card-border-rgb), 0.15);
  background-position: center;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  overflow: hidden;
}

.center {
  display:block;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
  text-align: center;
}


.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.navbar-contents {
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}

.navbar-contents.show {
  opacity: 1;
}



/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {      
  .card:hover {
    transform: scale(1.05); 
    border: 1px solid rgba(var(--card-border-rgb), 15);    
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

@media (min-width: 880px) {
  .iframevideo {
    width: 900px;
    margin: 0 auto;
    padding: 2rem;
    aspect-ratio: 7.5/5 ;
  }
} 

/* Mobile */
@media (max-width: 700px) {

  .iframevideo {
      width: 100%;
      padding: 2rem;
      aspect-ratio: 7.5/5;
  }

  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: left;
  }

  .card {
    padding: 3rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 2rem 0 2rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .titleHomepage {
    font-size: 3.5rem;
    padding-bottom: 2rem;            /*probably fix this*/
  }

  .subtitleHomepage {
    font-size: 2.5rem;
  }

  .title {
    font-size: 2.5rem;
    padding-bottom: 2rem;            /*probably fix this*/
  }

  .subtitle {
    font-size: 1.5rem;
  }

  .subtitledescription {
    max-width: 30ch;
  }
 
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: block;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }

}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
   
  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
