.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


.navbarContainer {
  display: flex; 
  position: fixed; 
  background-color: rgb(28 25 23 / 0.8); 
  border-color: rgb(28 25 23 / 0.8);
  margin-bottom: 0.25rem; 
  width: 100%; 
  backdrop-filter: blur(12px); 
  padding: 0.3rem;
  width:100vw;
  z-index: 9998;
}

.navbarBox {
  position:absolute;
  height:100%;
  opacity:0.5;
  border-radius: 0.35rem;
  z-index: -10;
  bottom: 0px;
  left:0px;
  border:1.5px;
  border-style: solid;
}

.navbarBoxHover {
  position:absolute;
  height:100%;
  background-color: rgb(120 113 108 / 0.3);
  border-radius: 0.25rem;
  z-index: -11;
  bottom:0px;
  left:0px;
}

.footerContainer{
  display: flex; 
  position: sticky;
  /* position:fixed; */
  bottom:0;
  top: 100vh;
  /* background-color: rgb(28 25 23 / 0.8);  */
  width:100vw;
  z-index: 9998;
  /* height:3rem; */
  /* height: 3.5rem; */

  height: 2.5rem;

  /* background-image: url("/svg/bottom.svg"); */
  /* background-size:cover; */
  /* background-size:cover;
  background-repeat: no-repeat; */
  /* background-position-y: -0.5rem; */
}


.imageDescription {
  display: flex;

  bottom:7rem;
  z-index: 9999;
  width:100%;
  object-fit: contain;
  height:3rem;
  justify-content: center;
  align-items: center;
  margin-top:0.5rem;
  
  text-align: center;
  border-radius: 0px 0px 24px 24px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 
}

.imageDescription p {
  position: absolute;
  color: rgb(255 255 255);
  text-align: center;
  font-size: 1.75rem;
}

.pageDivider {
  position:relative;
  height:2px;
  width:80vw;
  opacity:0.3;
  color: white;
  max-width:1400px;
}

.pageDividerDark {
  position:relative;
  height:2px;
  width:80vw;
  opacity:1;
  border-color: rgb(55,55,55);
  max-width:1400px;
}

.linkContainerCCSandboxSmall {
  position:relative;
  display: flex;
  z-index: 52;
    max-width: 650px;
    width:45vw;
  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 24px;      


    background-color: rgb(144, 144, 144);
}

.linkContainerCCSandbox {
  position:relative;
  display: flex;
  z-index: 52;
    max-width: 1400px;
    width:90vw;
  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 24px;      


    background-color: rgb(144, 144, 144);


    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 
}

.linkContainerSkylandsVideo{
  position:relative;
  display: flex;
  z-index: 52;
    max-width: 1400px;
    width:78vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 24px;      
    background-color: rgba(187, 188, 122, 0.5);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 
}

.linkContainerAnimationsVideo {
  position:relative;
  display: flex;
  z-index: 52;
    max-width: 1400px;
    width:78vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 24px;      
    background-color: rgba(152,152,193, 1);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 
}

.linkContainerCad {
  position:relative;
  display: flex;
  width:95vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 24px;      
  border-style: solid;
  border-width: 10px;
  border-color: rgba(99, 174, 152, 1);
  background-color: rgba(74, 117, 110, 0.3);
  background-image:
    linear-gradient(to right, rgba(99, 174, 152, 0.1), 10px, transparent 10px),
    linear-gradient(to bottom, rgba(99, 174, 152, 0.1),10px, transparent 10px);
  background-position: -15px -15px;
  background-size: 250px 250px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 
}

.pageDividerCad {
  position:relative;
  width:95vw;
  border-color: rgb(99, 174, 152);
  border-width: 5px;
}


.linkContainerSketches {
  position:relative;
  display: flex;
  z-index: 52;
  width:95vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 24px;      
  border-style: solid;
  border-width: 10px;
  background-image: url("/images/sketches/test5.png");

  background-color: rgb(49,49,49);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 

  background-size: cover;
  background-repeat:space;
  overflow: hidden;
  justify-self: center;

  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 
}

.linkContainerCC {
  position:relative;
  display: flex;
  z-index: 52;
  width:95vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 24px;      
  border-style: solid;
  border-width: 10px;

  border-color: rgba(188,	137, 189, 0.5);	 


  background-color: rgb(49,49,49);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 
}

.linkContainerCADModel {
  position:relative;
  display: flex;
  z-index: 52;
  width:75vw;
  height: 55vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 24px;      
  border-color: rgb(49,49,49);

  background-color: rgba(99, 174, 152, 0.5);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);   
}

.linkContainerFlowerModel{
  position:relative;
  display: flex;
  z-index: 0;
  width:75vw;
  max-width:1500px;
  height: 65vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 24px;      
  border-width: 5px;
  border-color: rgba(250, 250, 250, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);   
}

.linkContainerFlowers{
  position:relative;
  display: flex;
  z-index: 52;
  width:95vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 24px;      
  border-style: solid;
  border-width: 5px;

background-color: rgba(254,51,135,0.2);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 

  background-size: cover;
  background-repeat:space;
  overflow: hidden;
  justify-self: center;

  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 

}

.linkContainerMomentfulness{
  position:relative;
  display: flex;
  z-index: 52;
  width:95vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 24px;      
  border-style: solid;
  border-width: 10px;

  border-color: rgb(49,49,49);


  background-color: rgb(49,49,49);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 
}

.iframeMomentfulness {
  height: 90vh;
  max-width: 90vw;
  aspect-ratio: 1/1;
}

.linkContainerMomentfulnessSmall{
  position:relative;
  display: flex;
  z-index: 52;
    height:92vh;
    max-width:92vw;
    aspect-ratio:1/1;
  
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 24px;      


    background-color: rgb(144, 144, 144);
}

.linkContainerCrafts {
  position:relative;
  display: flex;
  z-index: 52;
  width:95vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 24px;      
  border-style: solid;
  border-width: 10px;

  border-color: rgb(144, 144, 144);

  background-color: rgba(222,91,154,0.1);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 
}

.linkContainerIllustrator{
  position:relative;
  display: flex;
  z-index: 52;
  width:95vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 24px;      
  border-style: solid;
  border-width: 10px;

    border-color: rgba(0,0,0,0.7);

    background-color: rgba(250,250,250,0.6);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 
}

.linkContainerSkylands {
  position:relative;
  display: flex;
  z-index: 52;
  width:95vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 24px;      
  border-style: solid;
  border-width: 10px;
  border-color: rgba(187, 188, 122, 0.5);
  background-color: rgba(187, 188, 122, 0.15);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 
}

.linkContainerAnimationsBackground {
  position:relative;
  display: flex;
  width:95vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 24px;      
  border-style: solid;
  border-width: 10px;
  border-color: rgba(152,152,193, 1);
  background-color: rgba(48, 39, 89,0.3);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 
}

.linkContainerVoxel{
  position:relative;
  display: flex;
  z-index: 52;
  width:95vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 24px;      
  border-style: solid;
  border-width: 10px;

  border-color: rgba(78,170,195,0.5);
  background-color: rgba(9,161,187, 0.1);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 
}

.linkContainerLinks {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.linkContainerImage {
  width: 50vw;
  transition: background-image 200ms;
  opacity:0.5;
  height: 50vh;
  background-size:contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 1rem;
  justify-self: center;
}


.homepageSlices {
  margin-left:1rem;
  margin-right:1rem;
  margin-top:1.5rem;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.homepagePortfolio {
  margin-top:1.5rem;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.cardHomepagePortfolio {
  opacity: 0;
  filter: blur(5px);

  position:absolute;
  margin-top:11rem;
  width:auto;
  /* height:auto; */
  }

.cardHomepageTest {
  position:absolute;
  opacity:0.1;
  margin-top:9rem;
  filter: blur(5px);
  }
  
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  align-items: center;
  justify-items: center;
}


.buttonLinksPage {
  font-size:1.5rem;
  transition: transform 200ms, border 200ms;
  font-weight: normal;
  display:flex;
  align-items: center;
  justify-content:center;
  cursor:pointer;
  padding-bottom: -1rem;
  border-radius: 12px;      
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  background-color: rgb(120 113 108 / 0.5);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);  
}

.buttonLinksPageCad {
  font-size:1.5rem;
  transition: transform 200ms, border 200ms;
  font-weight: normal;
  display:flex;
  align-items: center;
  justify-content:center;
  cursor:pointer;
  padding-bottom: -1rem;
  border-radius: 12px;      
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  background-color: rgb(99, 174, 152); ;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);  
}


.buttonGeneralHomepage {
  transition: transform 200ms, border 200ms;
  font-size: 3.5rem;
  font-weight: normal;
  display:flex;
  align-items: center;
  cursor:pointer;
  color: white;
}

.buttonGeneralHomepageProjects {
  transition: transform 200ms, border 200ms;
  font-size: 3.5rem;
  font-weight: normal;
  display:flex;
  align-items: center;
  cursor:pointer;
  color: white;
}


.buttonNew {
  transition: transform 200ms, border 200ms;
  border: 1px solid rgba(var(--card-border-rgb), 0.15); 
  background-color:#ffffff70;
  border-radius: 6px; 
  transition: transform 200ms, border 200ms;
  font-size: 1.5rem;
  color: rgb(var(--background-end-rgb));
  font-weight: normal;
  align-items:center;
  position:relative;
  padding-left: 5px;
  padding-right: 5px;
  margin-left:5px;
}

.flowerButtonDiv{
  position:relative;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
}


.flowerButton {
  margin-top:0.4rem;
  margin-bottom: 0.4rem;
  margin-left:0.7rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem; 
  padding-left: 0.8rem;
  padding-right: 0.8rem; 
  width:100px;
  border-style: solid;
  border-width: 5px;
  transition: transform 200ms, border 200ms;
  cursor: pointer;
  z-index: 0;

  border-radius: 24px;      
  border-color: rgba(250, 250, 250, 0.5);

  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);   

}

.cadModelButtons{
  position:absolute;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  bottom: 0;
}

.buttonCad {
  margin-top:0.4rem;
  margin-left:0.2rem;
  margin-right:0.2rem;
  margin-bottom:0.6rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem; 
  padding-left: 0.5rem;
  padding-right: 0.5rem; 
  bottom:100%;
  width:65px;
  background-color: rgba(99, 174, 152, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 0.35rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 
  transition: transform 200ms, border 200ms;
  cursor: pointer;
  z-index: 9999;
}


.backbutton {
  z-index: 9999;
  right: 12rem; 
  top: 0.425rem; 
  padding-top: 0.4rem;
  padding-bottom: 0.4rem; 
  padding-left: 0.5rem;
  padding-right: 0.5rem; 
  color: rgb(244 244 245);
  background-color: rgb(120 113 108 / 0.5);
  border-radius: 0.35rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 
  transition: transform 200ms, border 200ms;
  cursor: pointer;
}


.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 1rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
}

.titleHomepage {

  font-size: 6.5rem;
  font-size:6.5vw;

  font-weight: normal;
  text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.9);
  /* padding-top:8rem; */
  padding-top:9rem;
}


.subtitleHomepage {
  font-size: 3.5rem;
  font-size:3.5vw;
  font-weight: normal;
  display:flex;
  align-items: center;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
  -webkit-tap-highlight-color: transparent;
}
.subtitleHomepage a {
  align-items: center;
  display: flex;
  justify-content: left;
  gap: 0.5rem; 
}

.title {
  font-size: 4.5rem;
  text-decoration: underline 5px rgba(var(--foreground-rgb), 0.5); 
  font-weight: normal;
  padding-bottom: 2rem;
  padding-top: 1.375rem;
  text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.4);
}

.titleWithoutPadding{
    font-size: 4.5rem;
    text-decoration: underline 5px rgba(var(--foreground-rgb), 0.5); 
    font-weight: normal;
    padding-bottom: 2rem;
    padding-top: 0rem;
    text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.4);
}

.titleWithoutPaddingCad{
  font-size: 4.5rem;
  text-decoration: underline 5px rgba(var(--foreground-rgb), 0.5); 
  font-weight: normal;
  padding-bottom: 1rem;
  padding-top: 0rem;
  text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.4);
}

.titleWithoutPaddingDark{
  font-size: 4.5rem;
  color: rgba(50,50,50,1);
  text-decoration: underline 5px rgba(var(--background-start-rgb), 0.5); 
  font-weight: normal;
  padding-bottom: 2rem;
  padding-top: 0rem;
  text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.4);
}

.subtitle {
  font-size: 3rem;
  align-items:center;
}
.subtitle a {
  align-items: center;
  display: flex;
  justify-content: left;
  gap: 0.5rem; 
}
.subtitle p {
  padding-bottom: 2rem;
}

.subtitle p2 {
  padding-bottom:1rem;
}

.subtitle h1 {
  text-decoration: underline 4px rgba(var(--foreground-rgb), 0.5);
  padding-bottom: 2rem;
  padding-top: 1rem;
  align-items: center;
  font-weight: normal;
}
.subtitle h1 svg {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.subtitle span {
  display: flex;
}

.subtitledescription {
  font-size: 1.5rem;
  font-weight: normal;
  max-width:70ch;
  text-align:center;
}
.subtitledescription a {
  align-items: center;
  display: flex;
  justify-content: left;
  gap: 0.5rem; 
  padding: 1.5rem;

  text-decoration: underline 2px rgba(var(--foreground-rgb), 0.5);
}
.subtitledescription p {
  align-items: center;
  display: flex;
  justify-content: left;
  gap: 0.5rem; 
}
.subtitledescription h1 {
  text-decoration: underline 2px rgba(var(--foreground-rgb), 0.5);
  padding-bottom:1rem;
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.gridanimation {
  display: grid;
  justify-self: center;
  grid-template-columns: repeat(2, minmax(25%, auto));
 
  max-width: 100%;
  width: var(--max-width);
  justify-content: center;

}

.cardanimationplasticine {
  width: 456px;
  height: 218px;
  padding: 3rem 2.2rem;
  border-radius: var(--border-radius);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: transform 250ms, border 250ms, opacity 0.6s ease-in-out;
  background-position: right;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  overflow: hidden;
  justify-self: center;
  background-image: url("/images/animations/cards/plasticine card4.png");
  z-index: 1;
  position: relative;
}
.cardanimationplasticine span {
  display: flex;
  transition: transform 200ms;
}
.cardanimationplasticine h2 {
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 0.7rem;
}
.cardanimationplasticine p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.cardanimationSkate {
  width: 456px;
  height: 218px;
  padding: 3rem 2.2rem;
  border-radius: var(--border-radius);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: transform 250ms, border 250ms, opacity 0.6s ease-in-out;
  
  background-position: right;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  overflow: hidden;
  justify-self: center;
  background-image: url("/images/animations/cards/skate transparent2.png");
  z-index: 1;
  position: relative;
}
.cardanimationSkate span {
  display: flex;
  transition: transform 200ms;
}
.cardanimationSkate h2 {
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 0.7rem;
}
.cardanimationSkate p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.cardanimationEscape{
  width: 456px;
  height: 218px;
  padding: 3rem 2.2rem;
  border-radius: var(--border-radius);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: transform 250ms, border 250ms,  opacity 0.6s ease-in-out;
  background-position: right;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  overflow: hidden;
  justify-self: center;
  background-image: url("/images/animations/cards/escape transparent3.png");
  z-index: 1;
  position: relative;
}
.cardanimationEscape span {
  display: flex;
  transition: transform 200ms;
}
.cardanimationEscape h2 {
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 0.7rem;
}
.cardanimationEscape p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.cardanimationKontakt{
  width: 456px;
  height: 218px;
  padding: 3rem 2.2rem;
  border-radius: var(--border-radius);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: transform 250ms, border 250ms, opacity 0.6s ease-in-out;
  background-position: right;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  overflow: hidden;
  justify-self: center;
  background-image: url("/images/animations/cards/kontakt transparent.png");
  z-index: 1;
  position: relative;
}
.cardanimationKontakt span {
  display: flex;
  transition: transform 200ms;
}
.cardanimationKontakt h2 {
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 0.7rem;
}
.cardanimationKontakt p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.cardanimationLogo{
  width: 456px;
  height: 218px;
  padding: 3rem 2.2rem;
  border-radius: var(--border-radius);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: transform 250ms, border 250ms,  opacity 0.6s ease-in-out;
  background-position: right;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  overflow: hidden;
  justify-self: center;
  background-image: url("/images/animations/cards/logo new small4.png");
  z-index: 1;
  position: relative;
}
.cardanimationLogo span {
  display: flex;
  transition: transform 200ms;
}
.cardanimationLogo h2 {
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 0.7rem;
}
.cardanimationLogo p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.cardanimationMusic {
  width: 456px;
  height: 218px;
  padding: 3rem 2.2rem;
  border-radius: var(--border-radius);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: transform 250ms, border 250ms, opacity 0.6s ease-in-out;
  background-position: right;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  overflow: hidden;
  justify-self: center;
  background-image: url("/images/animations/cards/music transparent3.png");
  z-index: 1;
  position: relative;
}
.cardanimationMusic span {
  display: flex;
  transition: transform 200ms;
}
.cardanimationMusic h2 {
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 0.7rem;
}
.cardanimationMusic p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.grid {
  display: grid;
  justify-self: center;
  grid-template-columns: 33% 33% 33%;

  max-width: 100%;
  width: var(--max-width);
  justify-content: center;
  grid-column-gap: 1.5rem;
}


@media (min-width: 1120px) {

    .grid a{
      width:100%;
    }

    .card:nth-child(2) {
      grid-column-start: 2;
      grid-column-end: 4;
    }
    
    .card:nth-child(3) {
      grid-column-start: 1;
      grid-column-end: 3;
    }

    .card:nth-child(6) {
      grid-column-start: 2;
      grid-column-end: 4;
    }

    .card:nth-child(7) {
      grid-column-start: 1;
      grid-column-end: 3;
    }
    .card:nth-child(10) {
      grid-column-start: 2;
      grid-column-end: 4;
    }

    
}

.card {
 
  width: 350px;
  height: 167px;

  padding: 3rem 2.2rem;
  border-radius: var(--border-radius);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  transition: transform 200ms, border 200ms;
  background-position: right;
  margin-bottom: 1.5rem;
  overflow: hidden;

  justify-self:center;
}
.card span {
  display: inline-block;
  transition: transform 200ms;
}
.card h2 {
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 0.7rem;
}
.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.center {
  display:block;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
  text-align: center;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}
.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}
.center::before,
.center::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.navbar-contents {
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}
.navbar-contents.show {
  opacity: 1;
}

.mirrorIcon {
  transform: scaleY(-1);
}

@media (hover: hover) and (pointer: fine) {      
 
  .card:hover {
    transform: scale(1.07); 
    border: 1px solid rgba(var(--card-border-rgb), 5);    
  }

  .card:hover span {
    transform: translateX(4px);
  }

  .cardSearch:hover {
    transform: scale(1.07); 
    border: 1px solid rgba(var(--card-border-rgb), 5);    
  }

  .cardSearch:hover span {
    transform: translateX(4px);
  }

  .cardanimation:hover {
    transform: scale(1.08); 
    border: 1px solid rgba(var(--card-border-rgb), 15);    
    z-index: 5;
  
    background-image: url("/images/animations/gifs/plasticine-gif-half.gif"); 
  }

  .cardanimationplasticine:hover {
    transform: scale(1.08); 
    border: 1px solid rgba(var(--card-border-rgb), 15);    
    z-index: 5;
    background-image: url("/images/animations/gifs/plasticine-gif-new.gif"); 
    z-index: 5;
  }
  .cardanimation:hover span {
    transform: translateX(4px);
  }

  .cardanimationSkate:hover {
    transform: scale(1.08); 
    border: 1px solid rgba(var(--card-border-rgb), 15);  
    background-image: url("/images/animations/gifs/skatenew8.gif"); 
    z-index: 5;
  }
  .cardanimationSkate:hover h2,
  .cardanimationSkate:hover p {
   color: black; 
   opacity:0.8;
  }
  .cardanimationSkate:hover span {
    transform: translateX(4px);
  }

  .cardanimationEscape:hover {
    transform: scale(1.08); 
    border: 1px solid rgba(var(--card-border-rgb), 15);  
    z-index: 5;

    background-image: url("/images/animations/gifs/escape-short4.gif"); 
  }

  .cardanimationEscape:hover h2,
  .cardanimationEscape:hover p {
   color: black; 
  }
  .cardanimationEscape:hover span {
    transform: translateX(4px);
  }
  
  .cardanimationKontakt:hover {
    transform: scale(1.08); 
    border: 1px solid rgba(var(--card-border-rgb), 15);  
    background-image: url("/images/animations/gifs/kontakt-v2.gif");
    z-index: 5;
  }
  .cardanimationKontakt:hover span {
    transform: translateX(4px);
  }

  .cardanimationLogo:hover {
    transform: scale(1.08); 
    border: 1px solid rgba(var(--card-border-rgb), 15);  
    background-image: url("/images/animations/gifs/logotest3.gif"); 
    z-index: 5;
  }
  .cardanimationLogo:hover span {
    transform: translateX(4px);
  }

  .cardanimationMusic:hover {
    transform: scale(1.08); 
    border: 1px solid rgba(var(--card-border-rgb), 15);  
    background-image: url("/images/animations/gifs/public-transport5.gif"); 
    z-index: 5;
  }
  .cardanimationMusic:hover span {
    transform: translateX(4px);
  } 

  .backbutton:hover {
    transform: scale(1.07);
  }
  
  .buttonCad:hover {
    transform: scale(1.07);
  }

  .flowerButton:hover {
    transform: scale(1.07);
  }


  .buttonNew:hover {
    transform: scale(1.07);
  }

  .buttonLinksPage:hover {
    transform: scale(1.1);
    text-shadow: 0px 0px 35px rgba(0, 0, 0, 0.9);
  }

  .buttonLinksPageCad:hover {
    transform: scale(1.1);
    text-shadow: 0px 0px 35px rgba(0, 0, 0, 0.9);
  }

  .buttonGeneral:hover {
    transform: scale(1.07);
    text-shadow: 0px 0px 35px rgba(0, 0, 0, 0.9);
  } 

  .buttonGeneralHomepage:hover {
    transform: scale(1.2);
    text-decoration: underline 5px rgba(var(--foreground-rgb), 0.5);
  }

  .buttonGeneralHomepageProjects:hover {
    transform: scale(1.2);
    text-decoration: underline 5px rgba(var(--foreground-rgb), 0.5);
  }


  .link-hover:hover {
    transform: scale(1.07);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

.iframevideo {
  width: 75vw; 
  max-width:1350px;
  margin: 0 auto;
  aspect-ratio: 16/9;
}

.iframevideoSmall {
  width: 42.5vw; 
  max-width:620px;
  margin: 0 auto;
  aspect-ratio: 16/9;
}


@media (max-width: 520px) {
  .cardanimationplasticine{
    width: 332px;
    height: 158px;
  }
  .cardanimationSkate{
    width: 332px;
    height: 158px;
  }
  .cardanimationEscape{
    width: 332px;
    height: 158px;
  }
  .cardanimationLogo{
    width: 332px;
    height: 158px;
  }
  .cardanimationKontakt{
    width: 332px;
    height: 158px;
  }
  .cardanimationMusic{
    width: 332px;
    height: 158px;
  }
}

@media (max-width: 900px) {
  .subNavbar {
    opacity:0;
    pointer-events: 'none';
    z-index: -10;
  }
  .searchBar {
    width:75px;
  }
}



/* Mobile */
@media (max-width: 700px) {

  .linkContainerAnimations{
    position:relative;
      display: flex;
    
      margin-left:2rem;
      margin-right:2rem;
      width: 350px;
      height:auto;
      padding-left:1rem;
      padding-right:1rem;
      padding-top:1rem;
      padding-bottom:1rem;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 12px;      
      background-color: rgba(var(--background-end-rgb), 0.5);
      box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 
  }

  .linkContainerLinks {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .linkContainerImage {
    width: 95vw;
    transition: background-image 500ms;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 1rem;
    justify-self: center;
    margin-bottom: 2rem;
  
  }

.cardHomepageTest {
  transform:scale(0.8);
  margin-bottom:4.5rem;
  filter:blur(0px);
}
@keyframes grow-in {
  from {
    opacity: 0.1;
    transform: scale(0.8);
  }

  50% {
    opacity: 0.8;
    transform: scale(1);
  }

  from {
    opacity: 0.1;
    transform: scale(0.8);
  }
}


  .homepageSlicesTest {
    transform: scale(0.7);
    justify-content:center;
    margin-bottom:2rem;
  }

  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: left;
  }


  .gridanimation {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: left;
  }

  .card {
    padding: 3rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .cardSearch {
    padding: 3rem 2.5rem;
  }

  .cardSearch h2 {
    margin-bottom: 0.5rem;
  }

  .cardanimation {
    padding: 3rem 2.5rem;
  }

  .cardanimation h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 2rem 0 2rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .titleHomepage {
    font-size: 3.5rem;
    padding-bottom: 2rem;            
    }

  .subtitleHomepage {
    font-size: 2.5rem;
  }


  .title {
    font-size: 2.5rem;
    padding-bottom: 2rem;            
    max-width: 20ch;
  }

  .titleWithoutPadding {
    font-size: 2.5rem;
    padding-bottom: 2rem;            
    max-width: 20ch;
  }

  .titleWithoutPaddingCad {
    font-size: 2.5rem;
    padding-bottom: 2rem;            
    max-width: 20ch;
  }

  .titleWithoutPaddingDark {
    font-size: 2.5rem;
    padding-bottom: 2rem;            
    max-width: 20ch;
  }

  .subtitle {
    font-size: 1.5rem;
  }

  .subtitledescription {
    max-width: 30ch;
  }
 
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: block;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }

  .backbutton{
    opacity: 0;
    pointer-events: none;
  }
}

@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }

  .linkContainerAnimations{
    width: 730px;
    height:auto;
    padding-left:2rem;
    padding-right:2rem;
  }
  .gridanimation {
    grid-template-columns: repeat(2, 50%);
    padding-left: 11rem;
    padding-right: 11rem;
  }

  .homepageSlicesTest {
    display:flex;
    transform: scale(1);
    margin-bottom:2rem;
    margin-top:-0.5rem;
    justify-content:center;
  }

  .cardanimationplasticine{
    width: 332px;
    height: 158px;
  }
  .cardanimationSkate{
    width: 332px;
    height: 158px;
  }
  .cardanimationEscape{
    width: 332px;
    height: 158px;
  }
  .cardanimationLogo{
    width: 332px;
    height: 158px;
  }
  .cardanimationKontakt{
    width: 332px;
    height: 158px;
  }
  .cardanimationMusic{
    width: 332px;
    height: 158px;
  }

}

@media (prefers-color-scheme: dark) {
   
  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}



@keyframes animationHalf1 {
  from {
    opacity: 0;
    filter: blur(5px);
    transform: scale(1);   
  }
  to {
    opacity: 0.8;
    filter: blur(0px);
    transform: scale(1.07);
  }
}

@keyframes animationHalf2 {
  from{
    opacity: 0.8;
    filter: blur(0px);
    transform: scale(1.07);
  }
  to{
    opacity: 0;
    transform: scale(1);   
    filter: blur(5px);
  }
}

.animationClassHalf1 {
  animation: animationHalf1 0.5s forwards;
}

.animationClassHalf2 {
  animation: animationHalf2 0.5s forwards;
}


@keyframes animationTestHalf1 {
  0% {
    opacity: 0.1;
    filter: blur(5px);
    transform: scale(1);
  }
   100% {
    opacity: 0.8;
    filter: blur(0px);
    transform: scale(1.07);
  }
}

@keyframes animationTestHalf2 {
  0%{
    opacity: 0.8;
    filter: blur(0px);
    transform: scale(1.07);
  }
  100%{
    opacity: 0.1;
    filter: blur(5px);
    transform: scale(1);
  }
}

.animationTestClassHalf1 {
  animation: animationTestHalf1 0.5s forwards;
}

.animationTestClassHalf2 {
  animation: animationTestHalf2 0.5s backwards;
}


.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-in.show {
  opacity: 1;
}

.searchBar {
  position:fixed;
  display: flex;
  right: 1rem;
  top:0.4rem;
  z-index: 9999;
}


.searchBarStyle {
  display: block; 
  padding-top: 3px;
  padding-bottom: 2px;
  padding-left: 1.75rem;
  border-radius: 0.375rem; 
  border-width: 1.5px; 
  border-color: rgba(255,255,255,0.2);
  outline-width: 2px; 
  width: 100%; 
  font-size: 0.875rem;
  line-height: 1.25rem; 
}

.searchResultsTitle {
  font-size: 1.875rem;
}

.searchResultsBody {
  font-size: 0.875rem;
}

.cardSearch {
  width:230px;
  height: 100px;
  padding:1rem 0.5rem;
  border-radius: var(--border-radius);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  transition: transform 200ms, border 200ms;
  background-position: right;
  margin-bottom: 1.5rem;
  overflow: hidden;
  background-color:rgba(80, 80, 80, 0.8);

  justify-self:center;
}

.cardSearch span {
  display: inline-block;
  transition: transform 200ms;
}

.cardSearch h2 {
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 0.7rem;
}

.cardSearch p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
}

.searchOverlay {
  z-index: -100;
  position:fixed;
  display:flex;
  align-items: center;
  justify-content: center;
  outline: 2px solid transparent;
  outline-offset: 2px;

  top:0;
  right:0;
}

.searchOverlayDiv {
  padding:2rem;
  padding-top:4rem;
  height:100vh;
  overflow-y: auto;
  background-color: rgb(28 25 23 / 0.8); 
  z-index: -100;
}

.passwordBar{
  display: block; 
  margin-bottom:2rem;
  padding-top: 3px;
  padding-bottom: 2px;
  padding-left: 1.75rem;
  border-radius: 0.375rem; 
  border-width: 1.5px; 
  border-color: #E5E7EB; 
  border-color: rgba(255,255,255,0.2);
  outline-width: 2px; 
  width: 100%; 
  font-size: 0.875rem;
  line-height: 1.25rem; 
}